{config_load file="$language/lang_$language.conf" section="checkout_payment"}

<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr valign="top"> 
		<td class="contentsTopics">{$PAYMENT_TITLE}</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="center"><iframe src="{$IFRAME_URL}" width="100%" height="550" frameborder="0" name="wirecardCheckoutPageIFrame"></iframe></td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="main">&nbsp;</td>
	</tr>
	<tr>
		<td>
			<table border="0" width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td align="right"><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
					<td>
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td class="onepxwidth"><img src="{$tpl_path}img/checkout_bullet.gif" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
							</tr>
						</table>
					</td>
					<td>
						<table border="0" width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="100%" height="1" alt="" /></td>
								<td><img src="{$tpl_path}img/pixel_silver.gif" width="1" height="5" alt="" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td align="center" class="checkoutBarTo">{#text_shipping_info#}</td>
					<td align="center" class="checkoutBarTo">{#text_payment_info#}</td>
					<td align="center" class="checkoutBarCurrent">{#text_confirm#}</td>
					<td align="center" class="checkoutBarTo">{#text_finished#}</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
